extends layout

block content
            
            section( id='investigadores' class='borde' )
                
                div( class='container content-section' )
                    div( class='row' )
                        div( class='col-12' )
                            h1( class='subtitulo text-center' ) Investigadores
                    
                    div( class='row justify-content-center' )
                        
                        
                        div( class='col-lg-4 col-md-12 mt-3 mb-5' )
                            div( class='card card-perfil mb-5' )
                                div( class='avatar sombra_2 mb-4' )
                                    img( src='img/team/real/1.jpg' class='img-fluid' )
                                div( class='card-body text-center p-3' )
                                    h4 Martín José Montero Martínez
                                    p.text-center.sub Responsable Técnico / Modulo Clima
                                    a( href='mailto:martin_montero@tlaloc.imta.mx' target='_blank' ) martin_montero@tlaloc.imta.mx
                        
                        
                        div( class='col-lg-4 col-md-12 mt-3 mb-5' )
                            div( class='card card-perfil mb-5' )
                                div( class='avatar sombra_2 mb-4' )
                                    img( src='img/team/real/3.jpg' class='img-fluid' )
                                div( class='card-body text-center p-3' )
                                    h4 Efraín Mateos Farfán
                                    p.text-center.sub Modulo Clima
                                    a( href='mailto:efrain_mateos@tlaloc.imta.mx' target='_blank' ) efrain_mateos@tlaloc.imta.mx
                        
                        
                        div( class='col-lg-4 col-md-12 mt-3 mb-5' )
                            div( class='card card-perfil mb-5' )
                                div( class='avatar sombra_2 mb-4' )
                                    img( src='img/team/real/2.png' class='img-fluid' )
                                div( class='card-body text-center p-3' )
                                    h4 Julio Sergio Santana Sepulveda
                                    p.text-center.sub Modulo Clima
                                    a( href='mailto:ssantana@tlaloc.imta.mx' target='_blank' ) ssantana@tlaloc.imta.mx
                        
                        
                        div( class='col-lg-4 col-md-12 mt-3 mb-5' )
                            div( class='card card-perfil mb-5' )
                                div( class='avatar sombra_2 mb-4' )
                                    img( src='img/team/real/4.jpg' class='img-fluid' )
                                div( class='card-body text-center p-3' )
                                    h4 Alejandra Peña García
                                    p.text-center.sub Modulo Social
                                    a( href='mailto:alejandra_pg@tlaloc.imta.mx' target='_blank' ) alejandra_pg@tlaloc.imta.mx
                        
                        
                        div( class='col-lg-4 col-md-12 mt-3 mb-5' )
                            div( class='card card-perfil mb-5' )
                                div( class='avatar sombra_2 mb-4' )
                                    img( src='img/team/real/5.jpg' class='img-fluid' )
                                div( class='card-body text-center p-3' )
                                    h4 Roberto Romero Pérez
                                    p.text-center.sub Modulo Social
                                    a( href='mailto:rromero@tlaloc.imta.mx' target='_blank' ) rromero@tlaloc.imta.mx
                        
                        
                        div( class='col-lg-4 col-md-12 mt-3 mb-5' )
                            div( class='card card-perfil mb-5' )
                                div( class='avatar sombra_2 mb-4' )
                                    img( src='img/team/real/6.jpg' class='img-fluid' )
                                div( class='card-body text-center p-3' )
                                    h4 Denise Freitas Soares De Moraes
                                    p.text-center.sub Modulo Social
                                    a( href='mailto:denise_soares@tlaloc.imta.mx' target='_blank' ) denise_soares@tlaloc.imta.mx
                        
                        
                        div( class='col-lg-4 col-md-12 mt-3 mb-5' )
                            div( class='card card-perfil mb-5' )
                                div( class='avatar sombra_2 mb-4' )
                                    img( src='img/team/real/7.jpg' class='img-fluid' )
                                div( class='card-body text-center p-3' )
                                    h4 Rebeca González Villela
                                    p.text-center.sub Modulo Ambiental
                                    a( href='mailto:rebeca_gonzalez@tlaloc.imta.mx' target='_blank' ) rebeca_gonzalez@tlaloc.imta.mx
                        
                        
                        div( class='col-lg-4 col-md-12 mt-3 mb-5' )
                            div( class='card card-perfil mb-5' )
                                div( class='avatar sombra_2 mb-4' )
                                    img( src='img/team/real/8.jpg' class='img-fluid' )
                                div( class='card-body text-center p-3' )
                                    h4 Ronald Ernesto Ontiveros Capurata
                                    p.text-center.sub Modulo Ambiental
                                    a( href='mailto:ronald.ontiveros@posgrado.imta.edu.mx' target='_blank' ) ronald.ontiveros@posgrado.imta.edu.mx
                                
                                
            
            
            section( id='colaboradores_y_estudiantes' class='section-grey' )
                div( class='container content-section' )
                    div( class='row' )
                        div( class='col-12' )
                            h1( class='subtitulo text-center' ) Estudiantes y Colaboradores

                    div( class='row justify-content-center' )
                    
                        div( class='col-lg-4 col-md-12 mt-3 mb-5' )
                            div( class='card card-perfil mb-5' )
                                div( class='avatar sombra_2 mb-4' )
                                    img( src='img/team/real/9.jpg' class='img-fluid' )
                                div( class='card-body text-center p-3' )
                                    h4 Israel Torres García
                                    p.text-center.sub Colaborador
                                    a( href='mailto:ckreo_one@gmail.com' target='_blank' ) ckreo_one@gmail.com
                        
                        
                        div( class='col-lg-4 col-md-12 mt-3 mb-5' )
                            div( class='card card-perfil mb-5' )
                                div( class='avatar sombra_2 mb-4' )
                                    img( src='img/team/real/10.jpg' class='img-fluid' )
                                div( class='card-body text-center p-3' )
                                    h4 Jesús Orlando Trujillo Barajas 
                                    p.text-center.sub Estudiante
                                    a( href='mailto:jesusotrujillo@comunidad.unam.mx' target='_blank' ) jesusotrujillo@comunidad.unam.mx
                        
                        
                        div( class='col-lg-4 col-md-12 mt-3 mb-5' )
                            div( class='card card-perfil mb-5' )
                                div( class='avatar sombra_2 mb-4' )
                                    img( src='img/team/real/11.jpg' class='img-fluid' )
                                div( class='card-body text-center p-3' )
                                    h4 Naydú Isabel Pérez Ortiz
                                    p.text-center.sub Colaborador
                                    a( href='mailto:naydip3@gmail.com' target='_blank' ) naydip3@gmail.com
                        
                        
                        div( class='col-lg-4 col-md-12 mt-3 mb-5' )
                            div( class='card card-perfil mb-5' )
                                div( class='avatar sombra_2 mb-4' )
                                    img( src='img/team/real/12.jpg' class='img-fluid' )
                                div( class='card-body text-center p-3' )
                                    h4 Óscar Pita Diaz
                                    p.text-center.sub Estudiante
                                    a( href='mailto:opitadiaz_19@hotmail.com' target='_blank' ) opitadiaz_19@hotmail.com
                        
                        
                        div( class='col-lg-4 col-md-12 mt-3 mb-5' )
                            div( class='card card-perfil mb-5' )
                                div( class='avatar sombra_2 mb-4' )
                                    img( src='img/team/real/13.jpg' class='img-fluid' )
                                div( class='card-body text-center p-3' )
                                    h4 Salvador Castillo Liñan
                                    p.text-center.sub Estudiante
                                    a( href='mailto:salvador.castillo@posgrado.imta.edu.mx' target='_blank' ) salvador.castillo@posgrado.imta.edu.mx