extends layout

block content
            
            section( class='d-flex align-items-center ultimo' )
                div( class='container content-section pt-0 pb-0' )
                    div( class='row justify-content-center' )
                        div( class='col-lg-5 p-4' )
                            div( class='foto-galeria hoverable' )
                                a( href='/galeria_conchos' )
                                    img( src='img/conchos.jpg' class='img-fluid' )
                                    div( class='middle' )
                                        p( class='text' ) Conchos
                        div( class='col-lg-5 p-4' )
                            div( class='foto-galeria hoverable' )
                                a( href='/galeria_usumacinta' )
                                    img( src='img/usumacinta.jpg' class='img-fluid' )
                                    div( class='middle' )
                                        p( class='text' ) Usumacinta