nav( id='sidebar' class='d-flex' )

    div( id='dismiss' )
        i( class='material-icons' ) close
        
    
    div( class='overlay-content' )
        ul( class='diamonds' )
                                
            li( class='hex' )
                a( href = titulo == 'Inicio' ? '#inicio' : '/#inicio' class='diamond js-scroll' )
                    div( class='cont' )
                        p( class='tittle' ) Acerca de
                                
            li( class='hex' )
                a( href = titulo == 'Conchos' ? '#inicio' : '/conchos' class='diamond js-scroll' )
                    div( class='cont' )
                        p( class='tittle cuenca' ) Conchos
                                
            li( class='hex' )
                a( href = titulo == 'Usumacinta' ? '#inicio' : '/usumacinta' class='diamond js-scroll' )
                    div( class='cont' )
                        p( class='tittle cuenca' ) Usumacinta
                                
            li( class='hex' )
                a( href = titulo == 'Productos generados' ? '#inicio' : '/productos' class='diamond js-scroll' )
                    div( class='cont' )
                        p( class='tittle' ) Productos generados
                                
            li( class='hex' )
                a( href = titulo == 'Equipo de trabajo' ? '#inicio' : '/equipo' class='diamond js-scroll' )
                    div( class='cont' )
                        p( class='tittle' ) Equipo de trabajo
                                
            li( class='hex' )
                a( href = titulo == 'Sitios de interés' ? '#inicio' : '/sitios_de_interes' class='diamond js-scroll' )
                    div( class='cont' )
                        p( class='tittle' ) Sitios de interés
            
            li( class='hex' )
                a( href = titulo == 'Galería Fotográfica' ? '#inicio' : '/galeria' class='diamond js-scroll' )
                    div( class='cont' )
                        p( class='tittle' ) Galería Fotográfica
                                
            li( class='hex' )
                a( href = titulo == 'Videos' ? '#inicio' : '/videos' class='diamond js-scroll' )
                    div( class='cont' )
                        p( class='tittle' ) Videos
            
            li( class='hex' )
                a( href = titulo == 'Contacto' ? '#inicio' : '/contacto' class='diamond js-scroll' )
                    div( class='cont' )
                        p( class='tittle' ) Contacto