extends layout

block content
    
    div( class='container content-section' )
        
        div( class='row' )
        
            aside( class='col-lg-3 col-md-4 col-sm-12' )
                div( class='mt-4 mb-3 affix-top' id='sidemenu' )
                    ul( class='nav flex-sm-column flex-row' )
                        li( class='nav-item' )
                            a( href='#sec1' class='nav-link js-scroll' ) Libros
                        li( class='nav-item' )
                            a( href='#sec2' class='nav-link js-scroll' ) Articulos
                        li( class='nav-item' )
                            a( href='#sec3' class='nav-link js-scroll' ) Tesis y Tesinas
                        li( class='nav-item' )
                            a( href='#sec4' class='nav-link js-scroll' ) Bases de datos
                        li( class='nav-item' )
                            a( href='#sec5' class='nav-link js-scroll' ) Software
                        li( class='nav-item' )
                            a( href='#sec6' class='nav-link js-scroll' ) Manuales, Folletos, Trípticos
                        
                                        
            main( class='productos col px-0' )
                        
                div( id='sec1' class='pt-3 pb-5 mb-5' )
                    div( class='container pb-5 mb-5' )
                        div( class='row' )
                            div( class='col-12' )
                                h1( class='subtitulo text-center' ) Libros
                        div( class='row justify-content-center' )
                            div( class='col-lg-6 col-md-12 mt-2' )
                                div( class='card my-card mb-4' )
                                    div( class='p-3 mx-auto' )
                                        img( src='img/productos/libro_conchos.png' class='img-fluid sombra_2 rounded' )
                                    div( class='card-body' )
                                        h4( class='card-title text-center mt-2' ) La Cuenca del río Conchos: Una mirada desde las ciencias ante el cambio climático.
                                        hr( class='mb-3' )
                                        p( class='mb-3 text-justify' ) Durante las últimas décadas, diversos estudios han analizado la problemática de los potenciales efectos del cambio climático en zonas de estrés hídrico tal como se observan ya en la zona norte del país, en particular en la cuenca del Río Conchos. Sin embargo, poco se ha discutido sobre los cambios ya registrados en el clima actual y su influencia en los aspectos socio-ambientales de una región determinada. En este sentido, la presente obra analiza varios de los aspectos climáticos y su relación con el medio ambiente y la sociedad, a través de diferentes técnicas numéricas y canales de información, para una mejor comprensión de las implicaciones del cambio climático y su inherente factor multidisciplinario.
                                        br
                                        a( class='btn btn-block' href='/content/books/CONCHOS_CC_LIBRO.pdf' target='_blank' role='button' ) VER / DESCARGAR
                            div( class='col-lg-6 col-md-12 mt-2' )
                                div( class='card my-card mb-4' )
                                    div( class='p-3 mx-auto' )
                                        img( src='img/productos/libro_usumacinta.png' class='img-fluid sombra_2 rounded' )
                                    div( class='card-body' )
                                        h4( class='card-title text-center mt-2' ) La Cuenca del río Usumacinta desde la perspectiva del cambio climático.
                                        hr( class='mb-3' )
                                        p( class='mb-3 text-justify' ) El cambio climático es el mayor desafío que enfrenta la humanidad en tiempos de caos económico-social y reacción del planeta. En la presente obra las y los autores, mediante diversas disciplinas y acercamientos metodológicos, dan cuenta de la dinámica del cambio climático en la cuenca hidrográfica Usumacinta, en los estados sureños de Chiapas y Tabasco, México. Los trabajos compilados en este libro se organizan en tres ejes temáticos: dinámica de variabilidad de precipitaciones y temperaturas en las últimas cuatro décadas, impactos del cambio climático en agricultura y ganadería, así como las percepciones de la población que habita la cuenca más caudalosa y de mayor biodiversidad ambiental y cultural de México.
                                        br
                                        a( class='btn btn-block' href='/content/books/USUMACINTA_CC_LIBRO.pdf' target='_blank' role='button' ) VER / DESCARGAR
                
                
                div( id='sec2' class='pt-3 pb-5 mb-5' )
                    div( class='container pb-5 mb-5' )
                        div( class='row' )
                            div( class='col-12' )
                                h1( class='subtitulo text-center' ) Articulos
                        div( class='row justify-content-center' )
                            div( class='col-12' )
                                h3( class='text-center' ) Articulos científicos
                            div( class='col-lg-6 col-md-12 mt-2' )
                                div( class='card my-card mb-4' )
                                    div( class='px-4 py-3' )
                                        img( src='img/productos/articulo_1.png' class='img-fluid sombra_2 rounded' )
                                    div( class='card-body' )
                                        p( class='mb-3 text-center' ) Cambio climático. Percepciones sobre manifestaciones, causas e impactos en el Distrito de Temporal Tecnificado Margaritas-Comitán, Chiapas.
                                        br
                                        a( class='btn btn-block' href='/content/docs/1.-2018_Soares etal_CIENCIAergo-sum.pdf' target='_blank' role='button' ) VER
                            div( class='col-lg-6 col-md-12 mt-2' )
                                div( class='card my-card mb-4' )
                                    div( class='px-4 py-3' )
                                        img( src='img/productos/articulo_2.png' class='img-fluid sombra_2 rounded' )
                                    div( class='card-body' )
                                        p( class='mb-3 text-center' ) Effects of climate change on water availability for the Usumacinta river environmetal flow.
                                        br
                                        br
                                        a( class='btn btn-block' href='/content/docs/2.-2018_González&Montero_IJSDP.pdf' target='_blank' role='button' ) VER
                
                
                div( id='sec3' class='pt-3 pb-5 mb-5' )
                    div( class='container pb-5 mb-5' )
                        div( class='row' )
                            div( class='col-12' )
                                h1( class='subtitulo text-center' ) Tesis y Tesinas
                        div( class='row justify-content-center' )
                            div( class='col-lg-6 col-md-12 mt-2' )
                                div( class='card my-card mb-4' )
                                    div( class='p-3' )
                                        img( src='img/productos/tesis_naydu.png' class='img-fluid sombra_2 rounded' )
                                    div( class='card-body' )
                                        p( class='mb-3 text-center' ) Análisis de datos e índices de cambio climático en la cuenca del Río Usumacinta.
                                        a( class='btn btn-block' href='/content/docs/tesis_Naydu.pdf' target='_blank' role='button' ) VER
                            div( class='col-lg-6 col-md-12 mt-2' )
                                div( class='card my-card mb-4' )
                                    div( class='p-3' )
                                        img( src='img/productos/tesis_salvador.png' class='img-fluid sombra_2 rounded' )
                                    div( class='card-body' )
                                        p( class='mb-3 text-center' ) Análisis de datos e índices de cambio climático en la cuenca del Río Conchos.
                                        a( class='btn btn-block' href='/content/docs/tesis_Salvador.pdf' target='_blank' role='button' ) VER
                            div( class='col-lg-6 col-md-12 mt-5' )
                                div( class='card my-card mb-4' )
                                    div( class='p-3' )
                                        img( src='img/productos/tesina_israel.png' class='img-fluid sombra_2 rounded' )
                                    div( class='card-body' )
                                        p( class='mb-3 text-center' ) Impactos socioambientales del cambio climático registrados en las cuencas del río Conchos y del río Usumacinta.
                                        a( class='btn btn-block' href='/content/docs/tesina_Israel.pdf' target='_blank' role='button' ) VER
                            div( class='col-lg-6 col-md-12 mt-5' )
                                div( class='card my-card mb-4' )
                                    div( class='p-3' )
                                        img( src='img/productos/tesina_martha.png' class='img-fluid sombra_2 rounded' )
                                    div( class='card-body' )
                                        p( class='mb-3 text-center' ) Percepciones sociales al impacto del cambio climático en Emiliano Zapata, Tabasco, Cuenca Baja del río Usumacinta.
                                        a( class='btn btn-block' href='/content/docs/tesina_Matha.pdf' target='_blank' role='button' ) VER
                
                
                div( id='sec4' class='pt-3 pb-5 mb-5' )
                    div( class='container pb-5 mb-5' )
                        div( class='row' )
                            div( class='col-12' )
                                h1( class='subtitulo text-center' ) Bases de datos
                        div( class='row justify-content-center' )
                            div( class='col-12 mb-5' )
                                //- iframe( src='http://172.16.2.32:3838/app' class='iframe-mapa' )
                                //- embed( src='http://gradiente.imta.mx:3838/app/' class='iframe-mapa mb-5' )
                        div( class='row justify-content-center' )
                            div( class='col-lg-4 mt-2' )
                                div( class='card my-card mb-4' )
                                    div( class='p-1 mx-auto' )
                                        img( src='img/productos/database.png' class='img-fluid' )
                                    div( class='card-body' )
                                        h4( class='card-title text-center mt-2' ) DATOS CUENCA CONCHOS
                                        hr( class='mb-3' )
                                        p( class='mb-3 text-center' ) Base de datos homogenizada de 14 estaciones de la cuenca del río Conchos.
                                        a( class='btn btn-block' href='/content/databases/ConchosDatos.zip' role='button' ) DESCARGAR
                            div( class='col-lg-4 mt-2' )
                                div( class='card my-card mb-4' )
                                    div( class='p-1 mx-auto' )
                                        img( src='img/productos/database.png' class='img-fluid' )
                                    div( class='card-body' )
                                        h4( class='card-title text-center mt-2' ) DATOS CUENCA USUMACINTA
                                        hr( class='mb-3' )
                                        p( class='mb-3 text-center' ) Base de datos homogenizada de las estaciones de la cuenca del río Usumacinta.
                                        a( class='btn btn-block' href='/content/databases/UsumacintaDatos.zip' role='button' ) DESCARGAR
                            div( class='col-lg-4 mt-2' )
                                div( class='card my-card mb-4' )
                                    div( class='p-1 mx-auto' )
                                        img( src='img/productos/database.png' class='img-fluid' )
                                    div( class='card-body' )
                                        h4( class='card-title text-center mt-2' ) MALLA CUENCA CONCHOS
                                        hr( class='mb-3' )
                                        p( class='mb-3 text-center' ) Malla de datos de la cuenca del río Conchos de 1951 - 2010. (archivo netCDF)
                                        a( class='btn btn-block' href='/content/databases/mallas/conchos_1951-2010.nc' role='button' ) DESCARGAR
                            div( class='col-lg-4 mt-2' )
                                div( class='card my-card mb-4' )
                                    div( class='p-1 mx-auto' )
                                        img( src='img/productos/database.png' class='img-fluid' )
                                    div( class='card-body' )
                                        h4( class='card-title text-center mt-2' ) MALLA CUENCA USUMACINTA
                                        hr( class='mb-3' )
                                        p( class='mb-3 text-center' ) Malla de datos de la cuenca del río Usumacinta de 1951 - 2010. (archivo netCDF)
                                        a( class='btn btn-block' href='/content/databases/mallas/usumacinta_1951-2010.nc' role='button' ) DESCARGAR
                            //div( class='col-lg-4 col-md-12 mt-2' )
                                div( class='card my-card mb-4' )
                                    div( class='p-1 mx-auto' )
                                        img( src='img/productos/database.png' class='img-fluid' )
                                    div( class='card-body' )
                                        h4( class='card-title text-center mt-2' ) DATOS DE ESTACIONES
                                        hr( class='mb-3' )
                                        p( class='mb-3 text-center' ) Información geográfica de las estaciones registradas en CLICOM.
                                        a( class='btn btn-block' href='/content/databases/Estaciones.csv' role='button' ) DESCARGAR
                
                
                div( id='sec5' class='pt-3 pb-5 mb-5' )
                    div( class='container pb-5 mb-5' )
                        div( class='row' )
                            div( class='col-12' )
                                h1( class='subtitulo text-center' ) Software
                        div( class='row justify-content-center' )
                            div( class='col-lg-8 col-md-12 mt-2' )
                                div( class='card my-card mb-4' )
                                    div( class='p-1 mx-auto' )
                                        img( src='img/productos/CubOps.png' class='img-fluid sombra_2 rounded' )
                                    div( class='card-body' )
                                        h4( class='card-title  text-center mt-2' ) CubOps
                                        hr( class='mb-3' )
                                        p( class='mb-3 text-center' ) Es una aplicación Web que le permitirá operar sobre un conjunto de puntos, típicamente estaciones meteorológicas.
                                        a( class='btn btn-block' href='http://gradiente.imta.mx:3838/CubOps' target='_blank' role='button' ) IR
                
                
                div( id='sec6' class='pt-3 pb-5 mb-5' )
                    div( class='container pb-5 mb-5' )
                        div( class='row' )
                            div( class='col-12' )
                                h1( class='subtitulo text-center' ) Manuales, Folletos, Trípticos
                        div( class='row justify-content-center' )
                            div( class='col-lg-4 col-md-12 mt-2' )
                                div( class='card my-card mb-4' )
                                    div( class='p-2 mx-auto' )
                                        img( src='img/productos/Manual_CC_CONCHOS.png' class='img-fluid sombra_2 rounded' )
                                    div( class='card-body' )
                                        p( class='mb-3 text-center' ) Manual sobre cambio climático Cuenca del río Conchos.
                                        a( class='btn btn-block' href='/content/docs/Manual_CC_CONCHOS.pdf' target='_blank' role='button' ) VER
                            div( class='col-lg-4 col-md-12 mt-2' )
                                div( class='card my-card mb-4' )
                                    div( class='p-2 mx-auto' )
                                        img( src='img/productos/Estrategia_de_comunicación.png' class='img-fluid sombra_2 rounded' )
                                    div( class='card-body' )
                                        p( class='mb-3 text-center' ) Estrategia de comunicación con dimensión de cuenca.
                                        a( class='btn btn-block' href='/content/docs/Estrategia_de_comunicación.pdf' target='_blank' role='button' ) VER
                            div( class='col-lg-4 col-md-12 mt-2' )
                                div( class='card my-card mb-4' )
                                    div( class='p-2 mx-auto' )
                                        img( src='img/productos/Manual_CC_USUMACINTA.png' class='img-fluid sombra_2 rounded' )
                                    div( class='card-body' )
                                        p( class='mb-3 text-center' ) Manual sobre cambio climático Cuenca del río Usumacinta.
                                        a( class='btn btn-block' href='/content/docs/Manual_CC_USUMACINTA.pdf' target='_blank' role='button' ) VER
                            div( class='col-lg-12 col-md-12 mt-5' )
                                div( class='card my-card mt-5 mb-4' )
                                    div( class='p-2 mx-auto' )
                                        img( src='img/productos/Tríptico_CONCHOS.png' class='img-fluid sombra_1 rounded' )
                                    div( class='card-body' )
                                        p( class='mb-3 text-center' ) Tríptico - Nuestro cambio ante el Cambio Climático y sus efectos en nuestra vida. (CONCHOS)
                                        a( class='btn btn-block' href='/content/docs/Tríptico_CONCHOS.pdf' target='_blank' role='button' ) VER
                            div( class='col-lg-12 col-md-12 mt-5' )
                                div( class='card my-card mt-5 mb-4' )
                                    div( class='p-2 mx-auto' )
                                        img( src='img/productos/Tríptico_USUMACINTA.png' class='img-fluid sombra_1 rounded' )
                                    div( class='card-body' )
                                        p( class='mb-3 text-center' ) Tríptico - Nuestro cambio ante el Cambio Climático y sus efectos en nuestra vida. (USUMACINTA)
                                        a( class='btn btn-block' href='/content/docs/Tríptico_USUMACINTA.pdf' target='_blank' role='button' ) VER